@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$viga: 'Viga', sans-serif;
$abel: 'Abel', sans-serif;
$normal-font: 17px;

.back-btn {
  color: rgb(165, 164, 164);

  &:hover {
    text-decoration: underline;
  }
}

.visit-btn {
  &:hover {
    text-decoration: underline;
  }
}

.about {
  p {
    font-size: 17px;
  }
}

.img-card {
  position: relative;

  width: 300px;

  img {
    // width: 300px;
    width: 100%;
    max-height: 300px;
    height: auto;
    object-fit: cover;
    object-position: top;
  }

  .show {
    border-radius: .3rem;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    transition: opacity .2s ease-in !important;

    &:hover {
      opacity: 1;
    }

    &.link {
      color: white;
      cursor: pointer;
      transition: color .2s ease-in;
      text-decoration: none;

      &:active {
        color: #0077DD;
      }
    }
  }
}

.technologies {
  .label {
    display: inline-block;
    border: 2px solid #0077DD;
    color: #0077DD;
    font-family: $viga;
    padding: 3px 5px 3px 5px;
    cursor: default;
    margin-left: 5px;
    margin-right: 5px;

    &:first-child {
      margin-left: 0;
    }

    &:nth-last-child {
      margin-right: 0;
    }

    transition: color .3s ease-in-out,
                background-color .3s ease-in-out;
    
    &:hover {
      background-color: #0077DD;
      color: white;
    }
  }
}

@media (min-width: 576px) {
  .card-columns {
      column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
      column-count: 3;
  }
}