@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$viga: 'Viga', sans-serif;
$abel: 'Abel', sans-serif;
$normal-font: 17px;

html, body {
  font-family: 'Viga';
  box-sizing: border-box;
  font-size: 1em;
}

* {
  box-sizing: inherit;
}

.font-viga {
  font-family: 'Viga';
}

.font-abel {
  font-family: 'Abel';
}

@keyframes fadeInDown{from{opacity:0;transform:translate3d(0, -100%, 0);}
to{opacity:1;transform:none;}
}

#navbar {
  width: 100%;

  &.fixed-top {
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  }

  #logo {
    width: 180px;
  }

  z-index: 9999; 
}

span.text-header {
  color: #6BBAFE;
}

.btn-back-to-top {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  z-index: 9999;
  background-color: #6BBAFE;
  transition: background-color .3s ease-in-out
              color .3s ease-in-out;

  &:hover {
    background-color: #103246;
    color: white;
  }
}

#section-1 {
  min-width: 100%;
  min-height: 100vh;
  padding-top: 120px;

  .display-4 {
    font-size: 4.5em;
    line-height: 1em;
  }

  .jumbotron p {
    font-size: 1.5em;
    margin-bottom: 70px;
    color: gray;
  }

  .container {
    min-height: calc(100vh - 220px);
    display: flex;
    align-items: center;
  }

  .btn-get-in-touch {
    background-color: #103246;
    color: white;
    padding: 15px 25px 15px 25px;
    border-radius: 50px;
  }

  .shape {
    position: absolute;
  
    &.shape1 {
      margin-left: -30px;
      margin-top: 2%;
    }

    &.shape2 {
      margin-top: 8%;
      margin-left: 30%;
    }

    &.shape3 {
      margin-top: 14%;
      margin-left: 20%;
    }

    &.shape4 {
      right: 0;
      top: 0;
    }
  }
}

#section-2 {
  min-width: 100%;
  min-height: 100vh;
  background-image: url('../img/bg/wavy1.svg');
  background-repeat: no-repeat;
  background-position: bottom;
}

#section-2 p {
  font-size: 20px;
}

#section-3 {
  min-width: 100%;
  min-height: 100vh;
  background-color: #f8f9fa;

  p {
    font-size: 1em;
  }
}

#section-4 {
  min-width: 100%;
  min-height: 100vh;
  background-image: url('../img/bg/wavy2.svg');
  background-repeat: no-repeat;
  background-position: top;

  p {
    font-size: 1em;
  }

  .owl-theme {
    .owl-stage-outer {
      padding-bottom: 10px;
    }

    .owl-nav {
      .owl-prev, .owl-next {
        background-color: transparent;
        border: 2px solid #0077DD;
        transition: background-color .3s ease-in-out;

        &:hover {
          background-color: #0077DD;

          .navigate-left, .navigate-right {
            color: white;
          }
        }
      
        .navigate-left, .navigate-right {
          color: #0077DD;
          transition: color .3s ease-in;
        }
      }
    }
  }
}

#section-4 .portofolio-card {  
  border-radius: .3rem;

  img {
    border-radius: .3rem;
  }

  .card-body {
    position: relative;
  }

  .desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
  }

  .show {
    border-radius: .3rem;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    transition: opacity .2s ease-in !important;

    &:hover {
      opacity: 1;
    }

    &.link {
      color: white;
      cursor: pointer;
      transition: color .2s ease-in;
      text-decoration: none;

      &:active {
        color: #0077DD;
      }
    }
  }
}

#section-4 .portofolio-img {
  max-height: 230px;
  height: auto;
  object-fit: cover;
  object-position: top;
}

#section-5 {
  min-width: 100%;
  min-height: 100vh;
  background-image: url('../img/bg/wavy3.svg');
  background-repeat: no-repeat;
  background-position: bottom;

  p {
    font-size: 1em;
  }
}

#section-6 {
  min-width: 100%;
}

#section-6 h1.send-us-label::after {
  content: '';
  display: block;
  border-bottom: 5px solid #007bff;
  width: 50px;
}

#section-6 input, #section-6 textarea {
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 2px solid #6eb4ff;
  width: 50%;
  transition: width .3s ease-in, border .3s ease-out;
  background-color: transparent;
}

#section-6 textarea:empty {
  height: 35px;
  overflow-y: hidden;
}

#section-6 textarea:focus {
  overflow-y: auto;
  height: 70px;
}

#section-6 input:focus, #section-6 textarea:focus {
  width: 100%;
  border-width: 3px;
}

.our-info {
  background-color: rgb(1, 41, 77);
  border-top-left-radius: 20px;
  color: white;
}

@media (max-width: 576px) {
  #section-1 {
    .display-4 {
      font-size: 3em;
    }
  
    .jumbotron p, .btn-get-in-touch {
      font-size: 1em;
    }

    .btn-get-in-touch {
      padding: 10px 20px 10px 20px;
    }

    .jumbotron p {
      margin-bottom: 30px;
    }

    .shape.shape1 {
      width: 50px;
    }

    .shape.shape4 {
      margin-top: 70%;
      width: 150px;
    }
  }

  .navbar-collapse {
    padding: 0 !important;
    
    .navbar-nav {
      border: none !important;
    }
  }

  #no-match {
    h1 {
      font-size: 100px !important;
    }
  
    p {
      font-size: 20px !important;
    }
  }
}

@media (max-width: 992px) {
  #section-1 {
    .display-4 {
      font-size: 3.5em;
    }
  
    .jumbotron p, .btn-get-in-touch {
      font-size: 1.3em;
    }
  }
  .navbar-collapse {
    z-index: 9999;

    margin-top: 5px;
    background-color: #f8f9fa;
    border-radius: 3px;
    padding: 10px !important;
    
    .nav-link {
      color: rgba(0,0,0,.5) !important;
    }
  }
}

.slick-prev:before,
.slick-next:before {
  color: #3797ff !important;
}

.slick-slide {
  border: none;
  outline: none;
}

.footer-widget {
  p {
    font-family: $abel;
    font-size: 1em;
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      font-family: $abel;
      font-size: 1em;
      margin-bottom: 5px;
    }
  }
}

.copyright {
  text-align: center;
  font-family: $abel;
  font-size: 1em;
}

#no-match {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 250px;
    margin: 0;
  }

  p {
    font-family: $abel;
    font-size: 40px;
    margin: 0;
  }

  .btn-go-home {
    margin-top: 30px;
    color: black;
    border: 2px solid black;

    &:hover {
      color: white;
      background-color: black;
    }
  }
}